.form-container {
    background-color: white;
    
}

.container .form-container {
    padding-top: 20px;
}

/* database submission */
.success {
    background-color: green;
    color: black;
}

/* database submission */
.fail {
        background-color: red;
        color: white;
}

input[type="email"],
input[type="text"],
input[type="textarea"]{
    -webkit-appearance: none;
    appearance: none;
  
    /* width: 100%; */
    border: 1px solid #333;
    margin: 0;

    box-sizing: border-box;
  }
  
  /* This is our style for the invalid fields */
  input:invalid{
    border-color: red;
    background-color: #FDD;
  }
  
  input:focus:invalid {
    outline: none;
  }
  
  /* This is the style of our error messages */
  .error {
    width  : 100%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    background-color: white;
    border-radius: 1000px;
  
    box-sizing: border-box;
  }
  
  .error.active {
    padding: 0.3em;
  }